## This is a place for you to try things

In [1]:
#=let us first try go into edit mode, change the name to your name, switch to cmd mode 
and run this cell =#
myName = "Hokuspokus"
println("My name is $myName")

My name is Hokuspokus

In [ ]:
change this cell to markdown

In [ ]:
# ops this is a duplicate cell, delete it
change this cell to markdown

In [ ]:
#now add a new cell above and below and delete them again

In [ ]:
replace
#try find out about this command
# Next try splitting this cell just above this line

In [ ]:
# and then merge it with this one

In [3]:
sum(rand(10))

5.119146987229989

In [ ]:
# try to toggle the output of the cell above

In [9]:
?writetable

search: writetable

  Write data to a tabular-file format (CSV, TSV, ...)

  writetable(filename, df, [keyword options])

  Arguments
  –––––––––––

    •    filename::AbstractString : the filename to be created

    •    df::AbstractDataFrame : the AbstractDataFrame to be written

  Keyword Arguments
  –––––––––––––––––––

    •    separator::Char – The separator character that you would like to
        use. Defaults to the output of getseparator(filename), which uses
        commas for files that end in .csv, tabs for files that end in .tsv
        and a single space for files that end in .wsv.

    •    quotemark::Char – The character used to delimit string fields.
        Defaults to '"'.

    •    header::Bool – Should the file contain a header that specifies the
        column names from df. Defaults to true.

    •    nastring::AbstractString – What to write in place of missing data.
        Defaults to "NA".

  Result
  ––––––––

    •    ::DataFrame

  Examples
  ––––––––––

  df = DataFrame(A = 1:10)
  writetable("output.csv", df)
  writetable("output.dat", df, separator = ',', header = false)
  writetable("output.dat", df, quotemark = ''', separator = ',')
  writetable("output.dat", df, header = false)